// variables
$primary-color: #2d529f;
$secondary-color: #2d529f;
$gray-color: #6c757d;
$light-gray: #eee;
$dark-color: #1d2127;
$light-color: white;
$main-font: sans-serif;
$hero-text-positionX: 370px;
$section-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.17);
$hover-shadow: 1px 1px 10px 1px gray;
