.doctors {
  //   background-color: aqua;
  display: flex;
  justify-content: center;
  .doc-container {
    // background-color: yellow;
    padding: 30px;
    margin: 90px;
  }
  .doc-heading {
    h2 {
      font-size: 30px;
      font-weight: 800px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      font-weight: 600px;
      color: $gray-color;
      margin-bottom: 10px;
    }
  }
  .doc-cards {
    display: flex;
    // background-color: rgb(185, 185, 185);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    img {
      width: 270px;
      margin-bottom: 20px;
    }

    .card-text {
      margin-bottom: 15px;
    }

    .card:hover {
      @include hoverVal($primary-color, $light-color);
      transition: 0.4s;
    }
  }
}
