.header {
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  background-color: $light-color;
  box-shadow: $section-shadow;
  div {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
  }

  &__img {
    img {
      width: 30%;
    }
  }

  &__nav {
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }
    li {
      a {
        font-size: 15px;
      }
    }
  }
}
