.resources {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $section-shadow;
  height: 60vh;

  .resources-wrapper {
    padding: 30px;
    width: 65%;
    h2 {
      margin-bottom: 10px;
    }

    .cards-wrapper {
      display: flex;
      justify-content: center;
      gap: 25px;
      flex-wrap: wrap;

      .cards-container {
        display: flex;
        justify-content: center;
        gap: 25px;
        width: 100%;
      }

      .resources-btn {
        display: block;
        margin-top: 20px;
        text-align: center;
      }
    }

    .posts {
      margin-top: 40px;
      width: 100%;
      img {
        width: 100%;
      }
    }

    .posts:hover {
      box-shadow: $hover-shadow;
      transition: 0.4s;
    }

    .card-title {
      background-color: $light-color;
      padding: 30px;
      h3 {
        margin-bottom: 7px;
      }
      p {
        color: $gray-color;
      }
    }
  }
}
